#ps-photos {
  padding: 10px 10px;
}

.ps-photo-box {
  height: 300px;
  float: left;

  img {
    display: block;
  }

  .meta {
    position: relative;
    color: $brighten;
    background-color: $darken;
    padding: 4px 8px;
    bottom: 63px;
  }

  .ps-title {
    @extend %text-ellipsis;
    margin: 2px 0;
    line-height: 30px;
  }

  .ps-description {
    @extend %text-ellipsis;
    line-height: 10px;
  }

  .ps-heart-wrapper {
    padding: 8px;
    position: absolute;
    width: 100%;
  }

  .ps-heart {
    display: none;
    float: right;
    
    path {
      fill: $darken;
    }

    &.favorited {
      path {
        fill: #FF4136;
      }
    }
  }

  &:hover {
    .ps-heart {
      display: block;
    }
  }
}

.no-js .ps-photo-box {
  margin-right: 10px;
  margin-bottom: 10px;
}
