.ps-photo {
  max-width: $photo-width;
  display: inline-block;

  .ps-title {
    @extend %text-ellipsis;

    .favorited {
      font-size: 10px;
      display: none;
    }
  }

  .ps-heart-wrapper {
    position: absolute;
    width: $photo-width;
    height: 100%;
  }

  // image from https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-128.png
  .ps-heart {
    @extend %vertically-align;
    position: relative;
    margin: 0 auto;
    display: none;
    opacity: 0.8;
  }

  &:hover {
    .ps-heart {
      display: inline;
    }
  }
}
