.ps-header
  .container
    %h1 Top 100 Popular photos

.ps-body.container
  - @photos.each do |photo|
    .col-md-4
      .ps-photo
        %h4.ps-photo-title
          = photo.name
        = image_tag photo.image_url
