.ps-header {
  padding: 30px 0;
  background-color: #001f3f;

  h1 {
    color: #fff;
  }
}

.ps-body {
  padding: 20px 0;
}

.ps-photo-title {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
